<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Number</th>
      <th>Course Name</th>
      <th colspan="2">Request Status</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
          <tr>
            <td><%= Student.find(request.student_id).name %></td>
            <td><%= request.course.CourseNumber %></td>
            <td><%= request.course.Title %></td>
            
            <% if current_user.student %>
              <td ><%=request.Status %>    </td>
            <% else %>
                <% if request.Status == "Pending"%>
               
                  <td><%= link_to 'Approve', request_path(request, request: {Status: 'Approved'}), method: :put %> | 
                  <%= link_to 'Deny', request_path(request, request: {Status: 'Denied'}), method: :put %> </td>    

                <%else%>

                  <td ><%=request.Status %>    </td>
                
                <% end %>
              <%end %>

            <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
      <% end %>
  </tbody>
</table>

<br>
