<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Number</th>
      <th>Course Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.name %></td>
        <td><%= request.course.CourseNumber %></td>
        <td><%= request.course.Title %></td>
        
        <% if request.Status != "Pending" %>
          <td><%=request.Status %></td>
        <%else%>

        <td><%= link_to "Approve", request_path(request, :Status => 'Approved'), :method=> :patch %> | 
          <%= link_to "Deny", request_path(request, :Status => 'Denied'), :method=> :patch %>
        <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
