<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Number</th>
      <th>Course Name</th>
      <th colspan="2">Request Status</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
    <% if current_user.student? and current_user.id == request.user_id  %>
        <tr>
        <td><%= request.user.name %></td>
        <td><%= request.course.CourseNumber %></td>
        <td><%= request.course.Title %></td>
        <td colspan="2"><%=request.Status %></td>        
        </tr>
    <%end%>

    <%if !current_user.student%>
    <% if current_user.admin or (current_user.instructor and current_user.id = request.user_id )%>
      <tr>
        <td><%= request.user.name %></td>
        <td><%= request.course.CourseNumber %></td>
        <td><%= request.course.Title %></td>
        
        <% if request.Status == "Pending"%>
          <td><%= link_to 'Approve', request_path(request, request: {Status: 'Approved'}), method: :put %> | 
          <%= link_to 'Deny', request_path(request, request: {Status: 'Denied'}), method: :put %> </td>    
        <%else%>
          <td ><%=request.Status %>    </td>
        <% end %>
        <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% end %>
      
    <% end %>
  </tbody>
</table>

<br>
