<h1>Editing Enrollment</h1>

<%= form_for(@enrollment) do |f| %>
    <%= f.label :course_id %>
    <%= f.label :course_id, class: 'form-control', value: Course.find(@enrollment.course_id).Title %>

    <%= f.label :student_id %>
    <%= f.label :student_id, class: 'form-control', value: User.find(@enrollment.student_id).name %>

    <%= f.label :grade %>
    <%= f.text_field :grade, class: 'form-control' %>

    <%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>
