<% provide(:title, 'Enrollments') %>

<h2>Students enrolled</h2>
<h4> <%=@courses.Title %></h4>
<center>
<table style="width:70%">
  <tr>
  <h5>
      <th>User Name</th>
      <th>Email</th>
      <th>Grade</th>
      <th></th>
  </h5>
  </tr>

<ul class="users">
  <% @students.each do |s| %>  
  <% e = Enrollment.find_by(:student_id=> s.id, :course_id => @courses.id) %>
  <tr>
      
    <td>
    <%= link_to s.name, students_show_path(:id=>s.id) %>
    </td>
    <td>
      <%= s.email %>
    </td>
    <td> <%= e.grade %></td>
    <td>
    
    <%= link_to "Delete", enrollments_path(:id=>e), method: :delete, data: { confirm: "Confirm?"} %> | 
    <%= link_to 'Post Grades', edit_enrollment_path(e) %>
    </td>

  </tr>
  <% end %>

</ul>
</table>

</center>
<%= link_to 'Add a student to this course', new_enrollment_path(:course_id=>@courses.id) %>