<% provide(:title, 'Edit Course') %>
<h1>Edit Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
       <%= f.label :CourseNumber %>
        <%= f.text_field :CourseNumber, class: 'form-control' %>

        <%= f.label :Title %>
        <%= f.text_field :Title, class: 'form-control' %>

        <%= f.label :Description %>
        <%= f.text_field :Description, class: 'form-control' %>

        <%= f.label :Instructor %>
        <%= fields_for :course_instructors do |c| %>
        <%= c.collection_select :Instructor, Instructor.select{|u| u[:instructor]} , :id, :name %>
        <% end %>

        <%= f.label :Startdate %>
        <%= f.date_field :Startdate%>

        <%= f.label :Enddate %>
        <%= f.date_field :Enddate%>

        <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
