<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
  <tr>
    <th>CourseNumber</th>
    <th>Title</th>
    <th>Description</th>
    <th>Instructor</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>References</th>
    <th>Add Reference</th>
    <th>Status</th>
    <% if current_user.admin?%>
    <th>Delete Course</th>
    <% end %>
  </tr>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.CourseNumber,course %></td>
        <td><%= course.Title %></td>
        <td><%= course.Description %></td>
        <td><%= User.find(course.Instructor).name %></td>
        <td><%= course.Startdate %></td>
        <td><%= course.Enddate %></td>
        <td><%= link_to "Show References", course_references_path(course) %> </td>
        <td><%= link_to "Add new Reference", new_course_reference_path(course) %> </td>
        <td>
          <%if course.Status=="1" %>
              <%= "Active"%>
          <%else%>
              <%= "Inactive"%>
          <% end %>
              </td>
        <% if current_user.admin? %>
            <td>
              <% if course.Status=="0" %>
                  <%= link_to "Delete", course,  method: :delete, data: { confirm: "Confirm?" } %>
              <% end %>
            </td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

