<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
  <tr>
    <th>CourseNumber</th>
    <th>Title</th>
    <th>Description</th>
    <th>Instructor</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Status</th>
    <th colspan="3"></th>
<%#    <% if current_user.admin?%>
<%#        <th>Delete Book</th> %>
<%#    <% end %>
  </tr>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.CourseNumber %></td>
        <td><%= course.Title %></td>
        <td><%= course.Description %></td>
        <td><%= course.Instructor %></td>
        <td><%= course.Startdate %></td>
        <td><%= course.Enddate %></td>
        <td>
          <%if course.Status %>
              <%= "Active"%>
          <%else%>
              <%= "Inactive"%>
          <% end %>
              </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

