<% provide(:title, 'All Courses') %>

<h4>
  <div class="input-group" align="center">
    <%= form_tag(courses_search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for Courses" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</h4>
<h2>Search Results</h2>

<table>
  <thead>
  <tr>
    <th>CourseNumber</th>
    <th>Title</th>
    <th>Description</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Status</th>
    <% if current_user.admin?%>
        <th>Delete Course</th>
    <% end %>
  </tr>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.CourseNumber,course %></td>
        <td><%= course.Title %></td>
        <td><%= course.Description %></td>
        <td><%= course.Startdate %></td>
        <td><%= course.Enddate %></td>
        <td>
          <%if course.Status %>
              <%= "Active"%>
          <%else%>
              <%= "Inactive"%>
          <% end %>
        </td>
        <% if current_user.admin? %>
            <td>
              <% if !course.Status? %>
                  <%= link_to "delete", course,  method: :delete, data: { confirm: "Confirm?" } %>
              <% end %>
            </td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>


<br>

