<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Past Courses</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
      <table>
      <tr><th>Course Number</th><th>Course Title</th><th>Grade</th></tr>
	      <% @pastCourses.each  do  |pastCourse| %>
	      	<tr>
	      		<td><%=link_to pastCourse.CourseNumber,pastCourse%></td>
	      		<td><%=pastCourse.Title %></td>
	      		<td><%=@enrollments.find_by(:course_id => pastCourse.id).grade %></td>
	      	</tr>
	      <%end%>
	   </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Current Courses</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"> 
		<table>
		<tr><th>Course Number</th><th>Course Title</th></tr>
	      <% @currentCourses.each  do  |currentCourse| %>
	      	<tr>
	      		<td><%=link_to currentCourse.CourseNumber,currentCourse%></td>
	      		<td><%=currentCourse.Title %></td>
	      		
	      	</tr>
	      <%end%>
	   </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Future Courses</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body"> 
      <table>
      	<tr><th>Course Number</th><th>Course Title</th><th>Start Date</th></tr>
	      <% @futureCourses.each  do  |futureCourse| %>
	      	<tr>
	      		<td><%=link_to futureCourse.CourseNumber,futureCourse%></td>
	      		<td><%=futureCourse.Title %></td>
	      		<td><%=futureCourse.Startdate %></td>
	      	</tr>
	      <%end%>
	   </table>
      </div>
    </div>
  </div>
</div>