<p id="notice"><%= notice %></p>
<h1>User Details</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <% if @user.super %>
    Super Admin
  <% elsif @user.admin %>
    Admin
  <% elsif @user.instructor %>
    Instructor
  <% elsif @user.student %>
    Student
  <%end%>

 
</p>
<% if @user.student %>
    <%= link_to 'View Student History', history_show_path(:id => @user.id) %> |
<% elsif @user.instructor%>
    <%= link_to 'View Instructor History', history_show_path(:id => @user.id) %> |
<% end %>

<%= link_to 'Back', :back %>
