<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscribe.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @subscribe.course %>
</p>

<%= link_to 'Edit', edit_subscribe_path(@subscribe) %> |
<%= link_to 'Back', subscribes_path %>
